{% extends "base.html" %}

{% block content %}

    {% for chore in chores %}
        <p>
            {{chore.name}}
            {% if chore.assigned_to == None %}
                | <a href="{{ url_for('chore_claim', chore_id = chore.id) }}">Claim</a>
            {% endif %}
            {% if chore.assigned_to == session['user_id'] and not chore.complete %}
                | <a href="{{ url_for('chore_complete', chore_id = chore.id) }}">Complete</a>
            {% endif %}
                | <a href="{{ url_for('chore_view', chore_id=chore.id) }}">View chore details</a>
            {% if is_admin %}
                | <a href="{{ url_for('chore_remove', chore_id = chore.id) }}">Delete</a>
                | <a href="{{ url_for('chore_reassign', chore_id = chore.id) }}">Reassign</a>
            {% endif %}
        </p>
    {% endfor %}

{% endblock %}
