{% extends "base.html" %}

{% block content %}

	{% if chore %}
		<p>
			ID: {{chore.id}}<br>
			Name: {{chore.name}}<br>
			Description: {{chore.description}}<br>
			Recurrence: {{chore_recurrence_name(chore.recurrence_id)}}<br>
			Due date: {{chore.due_date}}<br>
			Assigned to: {{user_full_name(chore.assigned_to)}}<br>
			Points: {{chore.points}}<br>
		</p>

		<p>
			Actions:<br>
			{% if is_admin  %}
				| <a href="{{ url_for('chore_remove', chore_id=chore.id) }}">Delete</a><br>
				| <a href="{{ url_for('chore_reassign', chore_id=chore.id) }}">Reassign</a><br>
			{% endif %}
			{% if chore.assigned_to == None %}
				| <a href="{{ url_for('chore_claim', chore_id=chore.id) }}">Claim</a><br>
			{% endif %}
			{% if chore.assigned_to == session['user_id'] and not chore.complete %}
				| <a href="{{ url_for('chore_complete', chore_id=chore.id) }}">Complete</a><br>
			{% endif %}
		</p>
	{% endif %}

{% endblock %}
