{% extends "base.html" %}

{% block content %}

	{% if is_admin %} 

		<h2>Chores</h2>
		{% for chore in chores %}
			Name: {{chore.name}} | Points: {{chore.points}} | Due date: {{chore.due_date}}
			{% if chore.assigned_to != None %}
				 | Assigned to: {{ user_full_name(chore.assigned_to) }}<br>
				 | <a href="{{ url_for('chore_reassign', chore_id=chore.id) }}">Reassign</a><br>
			{% else %}
				 | <i>Unassigned</i><br>
				 <a href="{{ url_for('chore_reassign', chore_id=chore.id) }}">Assign</a><br>
			{% endif %}
		{% endfor %}

	{% else %}

		<h2>My Chores</h2>
		{% for chore in chores %}
			Name: {{chore.name}} | Points: {{chore.points}} | Due date: {{chore.due_date}}<br>
		{% endfor %}

	{% endif %}
		
		<br><br>
		<h2>My Reward Points</h2>
		I currently have {{user.points}} points to spend on <a href="{{ url_for('reward') }}">rewards</a>

		<br><br>
		<h2>My Account</h2>
		Username: {{user.username}}<br>
		Name: {{user_full_name(user.id)}}<br>
		Email Address: {{user.email_address}}<br>
		Role: {{role_name(user.role_id)}}<br>
		Date of Birth: {{user.date_of_birth}}<br>
		<p><a href="{{url_for('user_edit', user_id=user.id)}}">Edit my account</a></p>

{% endblock %}