{% extends "base.html" %}
{% block content %}

here we will make a new user 

<form name="convert" action="{{ url_for('new_account_results') }}" method="POST" }}>
    Account Name: <input name='name' type='text'><br>
    Email: <input name='email' type='text'><br>
    Type: <input name='type' type='text'><br>
    First Name: <input name='first' type='text'><br>
    Middle Name: <input name='middle', type='text'><br>
    Last Name: <input name='last' type='text'><br>
    DoB: <input name='dob' type='text'><br>
    Style: <input name='style' type='text'><br>
    <p>
    Password: <input name='pass_1' type='password'><br>
    Enter Again: <input name='pass_2', type='password'><br>
    <input type='hidden' name='points' value=0>
    <input type="submit" name='submit' value="Make User">
    <input type="submit" name='cancel' value="cancel">
</form>


{% endblock %}
