{% extends "base.html" %}

{% block content %}

{% if claimed == True %}
<div class="confetti-container">
	<h2>Great Job! Let's celebrate!</h2>
	<button id="confetti-button" class="btn btn-rainbow" onclick="toggleConfetti();">Release the confetti!</button>
	<canvas id="confetti-canvas"></canvas>
</div>
{% endif %}

<div class="container">
	<div class="row">
		{% for reward in rewards %}
		<div class="col-lg-8 col-md-12 col-sm-12 my-3">
			<div class="card" z="3">
				<div class="card-header">
					<h3>{{reward.name}}</h3>
				</div>
				<div class="card-body">
					<p class="text-muted"><small>{{reward.points}} points</small></p>
					<p>{{reward.description}}</p>
					<a class="btn btn-block btn-primary my-2" href="{{ url_for('reward_view', reward_id=reward.id) }}">
						<i class="fa fa-fw fa-info"></i> Details
					</a>
					<a class="btn btn-block btn-primary my-2" href="{{ url_for('reward_claim', reward_id=reward.id) }}">
						<i class="fa fa-fw fa-star"></i> Claim
					</a>
					{% if is_admin %}
					<div class="text-center">
						<div class="btn-group btn-group-sm my-2" role="group">
							<a class="btn btn-secondary" href="{{ url_for('reward_edit', reward_id=reward.id) }}"><i class="fa fa-fw fa-edit"></i>
								Edit</a>
							<a class="btn btn-danger" href="{{ url_for('reward_remove', reward_id=reward.id) }}"><i class="fa fa-fw fa-minus-circle"></i>
								Delete</a>
						</div>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}