{% extends "base.html" %}

{% block content %}
<div class="container">
		<div class="row">
			<div class="col">
				<div class="card card-no-header mt-3" z="1">
					<div class="card-body">
						<form action="{{ url_for('reward_add') }}" method="post">
							{{ form.hidden_tag() }}
							<div class="form-row">
								<div class="form-group col-md-6">
									{{ form.name.label }}
								</div>
								<div class="form-group col-md-6">
									{{ form.name(class_="form-control mb-2 mr-sm-2",placeholder="e.g. Movie night") }}
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-6">
									{{ form.description.label }}
								</div>
								<div class="form-group col-md-6">
									{{ form.description(class_="form-control mb-2 mr-sm-2",placeholder="e.g. We will rent and watch a movie together.") }}
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-6">
									{{ form.points.label }}
								</div>
								<div class="form-group col-md-6">
									{{ form.points(class_="form-control mb-2 mr-sm-2") }}
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-12 text-center">
									<button class="btn btn-primary" type="submit"><i class="fa fa-fw fa-plus"></i> Add Reward</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}