<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.min.css') }}">

	<title>Welcome to Chore Explore</title>
</head>

<body class="d-flex flex-column">
<header class="container">

</header>

<main class="flex-fill">
	<div class="container">
		<h1>Welcome to Chore Explore</h1>
		<br>
		<p>Something cool here.</p>
	</div>
	<br>
</main>

<footer class="footer">
	<div class="container text-center text-md-left">
		<span class="text-muted">&copy; Our Team Name</span>
	</div>
</footer>

<script src="{{ url_for('static', filename='js/scripts.min.js') }}"></script>

</body>
</html>
