{% extends "base.html" %}

{% block content %}
    {% if errors %}
        {% for error in errors: %}
            {{error}}<br>
        {% endfor %}
    {% endif %}

    {% if user.id == session['user_id'] %}
        <div class="alert alert-info">
            If you edit your own account, you will need to log in again
        </div>
    {% endif %}

    <form action="{{ url_for('user_edit', user_id=user.id) }}" method="post">
        {{ form.hidden_tag() }}
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form.username.label }}
            </div>
            <div class="form-group col-md-6">
                {{ form.username(class_="form-control mb-2 mr-sm-2") }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form.old_password.label }}
                <br>
                <span class="neutral-feedback">Note: Only enter a password if you want to change it</span>
            </div>
            <div class="form-group col-md-6">
                {{ form.old_password(class_="form-control mb-2 mr-sm-2") }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form.new_password.label }}
            </div>
            <div class="form-group col-md-6">
                {{ form.new_password(class_="form-control mb-2 mr-sm-2") }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form.new_password_verify.label }}
            </div>
            <div class="form-group col-md-6">
                {{ form.new_password_verify(class_="form-control mb-2 mr-sm-2") }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form.role_id.label }}
            </div>
            <div class="form-group col-md-6">
                {{ form.role_id(class_="form-control mb-2 mr-sm-2") }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form.email_address.label }}
            </div>
            <div class="form-group col-md-6">
                {{ form.email_address(class_="form-control mb-2 mr-sm-2") }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form.first_name.label }}
            </div>
            <div class="form-group col-md-6">
                {{ form.first_name(class_="form-control mb-2 mr-sm-2") }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form.middle_name.label }}
            </div>
            <div class="form-group col-md-6">
                {{ form.middle_name(class_="form-control mb-2 mr-sm-2") }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form.last_name.label }}
            </div>
            <div class="form-group col-md-6">
                {{ form.last_name(class_="form-control mb-2 mr-sm-2") }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form.date_of_birth.label }}
            </div>
            <div class="form-group col-md-6">
                {{ form.date_of_birth(class_="form-control mb-2 mr-sm-2") }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12 text-center">
                <button class="btn btn-primary" type="submit">Edit User</button>
            </div>
        </div>
    </form>
{% endblock %}
