{% extends "base.html" %}

{% block content %}

{% if session['logged_in'] %}

<p>You're already logged in!</p>

{% else %}
<form action="{{ url_for('user_login')}}" method="post" name="login">
	{{ form.hidden_tag() }}
	{{ form.username.label(class_="sr-only") }}
	{{ form.username(class_="form-control mb-2 mr-sm-2",placeholder="Username") }}<br>
	{{ form.password.label(class_="sr-only") }}
	{{ form.password(class_="form-control mb-2 mr-sm-2",placeholder="Password") }}<br>
	<input class="btn btn-primary" type="submit" value="Log in">
</form>
{% endif %}

{% endblock %}