// Import Mixins
@import url('mixins.scss');

// Import Fonts
// This is an example of how to grab fonts from google fonts, see usage below in font-family declarations
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Merriweather:300,400,700|Open+Sans:300,400,700|Coming+Soon:300,400,700');

// Import FontAwesome SCSS
@import 'node_modules/font-awesome/scss/font-awesome';

// Override Bootstrap options
$body-bg:				#fafafa;
$light-bg:				#ffffff;
$dark-bg:				#343a40;
$body-color:			#212121;
$body-color-light:		#efefef;

// Examples of overriding bootstrap variables:
$brand-primary: 		#cc6900;
$brand-accent: 			#424242;
// $link-color: $brand-primary;
// $link-hover-color: ;

$font-family-cursive: 'Coming Soon';
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-serif: 'Merriweather', serif;
$font-family-base: $font-family-sans-serif;
$headings-font-family: 'Lato', sans-serif;

// Custom colors
$green:					#2e7d32;
$red:					#c62828;
$yellow:				#f9a825;
$blue:					#1565c0;

// Include Bootstrap after overrides
@import 'node_modules/bootstrap/scss/bootstrap';

/* Shadows */
/* Allows z height to be added to elements with <element z="1"> */
*[z="0"] {
	@include shadow-d0;
}

*[z="1"] {
	@include shadow-d1;
}

*[z="2"] {
	@include shadow-d2;
}

*[z="3"] {
	@include shadow-d3;
}

*[z="4"] {
	@include shadow-d4;
}

*[z="5"] {
	@include shadow-d5;
}

/* Custom CSS below this point */

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.1rem;
	min-height: 90vh;
	overflow-y: scroll;
	padding-top: 6rem; // Allow for a sticky header

	&.no-header
	{
		padding-top: 0; // Pages without the header (splash)
	}
}

/* Splash Page */

// #663300, #DD4E10, #EFFF3C, #d0cdc8, rgb(17,17,17)

body.splash {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23dd4e10'/%3E%3Cstop offset='1' stop-color='%23663300'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23efff3c' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23efff3c' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.13'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
	color: $body-color-light;
}

h1.splash-header {
	font-family: $font-family-cursive;
}

/* Alerts */
.alert {
	@include shadow-d1;
	background-color: #fff;
	border-radius: 0;
	border: 0;
	border-left: 2px solid $blue;
	margin: 1rem
}

.alert-danger:before,.alert-info:before,.alert-success:before,.alert-warning:before {
	font-family: FontAwesome;
	padding: .5rem
}

.alert-success {
	background-color: tint($green, 95%);
	color: $green;
	border-left: 2px solid $green
}

.alert-success:before {
	content: "\f00c " // Checkmark symbol
}

.alert-info {
	background-color: tint($blue, 95%);
	color: $blue;
	border-left: 2px solid $blue
}

.alert-info:before {
	content: "\f129 " // Information symbol
}

.alert-warning {
	background-color: tint($yellow, 95%);
	color: $yellow;
	border-left: 2px solid $yellow
}

.alert-warning:before {
	content: "\f12a " // Exclamation warning symbol
}

.alert-danger {
	background-color: tint($red, 95%);
	color: $red;
	border-left: 2px solid $red
}

.alert-danger:before {
	content: "\f00d " // Error symbol
}

/* Buttons */
.btn-primary {
	@include button-variant($brand-primary, darken($brand-primary, 5%), darken($brand-primary, 7%), lighten($brand-primary,2%), lighten($brand-primary, 7%), darken($brand-primary,15%));
}

.btn-outline-primary {
	@include button-outline-variant($brand-primary, #ffffff, lighten($brand-primary,2%), $brand-primary);
}

.btn-secondary {
	@include button-variant($brand-accent, darken($brand-accent, 5%), darken($brand-accent, 7%), lighten($brand-accent,2%), lighten($brand-accent, 7%), darken($brand-accent,15%));
}

.btn-outline-secondary {
	@include button-outline-variant($brand-accent, #ffffff, lighten($brand-accent,2%), $brand-accent);
}

/* Cards */
.card-gradient {
	background: rgb(234,234,234); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(234,234,234,1) 8%, rgba(175,175,175,1) 95%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(234,234,234,1) 8%,rgba(175,175,175,1) 95%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(234,234,234,1) 8%,rgba(175,175,175,1) 95%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#afafaf',GradientType=0 ); /* IE6-9 */
}

/* Dashboard */

	/* Chore Cards */
	.chore-card {
		background: $light-bg;
		border-top: 4px solid $dark-bg;
		padding: 1rem;
	}

/* Forms */
.neutral-feedback {
	color: tint($body-color, 30%);
	font-size: .8rem;
}



/* Utility */
.chalkboard {
	background: url("../images/chalkboard_bg.png") repeat;
	border: 4px solid #916a0a;
	color: #ffffff;
	font-family: "Coming Soon";
}